{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "only-multiline"],
    "no-unused-vars": ["error", {
      "args": "none"
    }],

    "react/prefer-stateless-function": "off",
    "react/prefer-es6-class": "off",
    "no-use-before-define": "off",
    "eol-last": "off"
  }
}